<div class="row">
  <div class="col-12">
    <div class="pageTitle text-left">
      <h4 class="mb-n1 text-center">Car Company Name</h4>
    </div>
  </div>

  <div class="col-sm-12 inner-wraper">
    <form [formGroup]="carCompanyForm" (ngSubmit)="uploadSubmit()">
      <div class="row">
        <div class="form-group col-8">
          <label for="carCompanyName" class="col-form-label">Company Name<span
            class="text-danger"> (*)</span> </label>
          <input class="form-control" type="text" id="carCompanyName" required="true" formControlName="carCompanyName">
          <div *ngIf="submitted && carCompanyName.invalid " class="alert alert-danger">
            <div *ngIf="carCompanyName?.errors?.required">
              Car Company Name is required
            </div>
          </div>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-8 pt-1">
          <label class="col-6" formArrayName="carModelList"
                 *ngFor="let model of modelList; let i = index">
            <input type="checkbox" name="carModelList" value={{model.id}} [(ngModel)]="model.checked"
                   (change)="getModelDataByCompany($event)"/>
            {{model.carModelName}}
            <span class="checkmark"></span>
          </label>
        </div>
      </div>

      <div class="row">
        <div class="mt-2 pr-2 ml-3">
          <input type="reset" class="btn btn-lg btn-danger" value="Reset">
        </div>
        <div class="mt-2">
          <input type="submit" class="btn btn-lg btn-success" value="Save">
        </div>
      </div>
    </form>
  </div>
</div>
