<div>
  <app-breadcrumb></app-breadcrumb>
</div>
<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-3 pb-3">
      <div class="col-md-12 heading-section text-left ftco-animate">
        <h2 class="subheading font-weight-bold text-info">Featured Cars</h2>
      </div>
      <div class="col-md-12 heading-section ftco-animate">
        <div class="row float-left">
          <div class="col-6 inline font-weight-bold">
            <label for="carType">Car Type</label>
          </div>
          <div class="form-group col-6">
            <select id="carType" (change)="setCarType($event)">
              <option selected value="New">New</option>
              <option value="Old">Old</option>
              <option value="Own">Own</option>
              <option value="Imported">Imported</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="inline">
      <h2 class="text-black-50">{{carType}} Cars</h2>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-3 col-lg-3 ftco-animate" *ngFor="let car of allCars">
          <div class="product">
            <div class="text py-3 pb-4 px-3 text-center">
              <a class="img-prod" routerLink="/vehicles/Details/{{car.id}}">
                <img class="img-fluid mt-2" *ngIf="car.mediaId" src="{{baseUrl}}/media/{{car.mediaId}}" height="200"
                     width="200" alt="Car Image">
                <div class="overlay"></div>
              </a>
              <h6 *ngFor="let model of models"><a routerLink="/vehicles/Details/{{car.id}}"><span class="font-weight-bold m-0"
                                                                       *ngIf="car.carModelId == model.id">{{model.carModelName}}</span></a>
              </h6>
              <p><span class="float-left text-info">{{car?.price | currency:'BDT'}}</span>
                <span class="float-right text-success font-weight-bold"
                      *ngIf="car?.availableStatus==true">InStock</span>
                <span class="float-right text-danger font-weight-bold"
                      *ngIf="car?.availableStatus == null || car?.availableStatus==false">N/A</span>
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>
