  input::-webkit-datetime-edit-month-field,
  input::-webkit-datetime-edit-day-field,
  input::-webkit-datetime-edit-text {
    color: transparent;
  }
  input::-webkit-datetime-edit-year-field,
  input::-webkit-datetime-edit-fields-wrapper {
    color: #7fad39;
  }
  input::-webkit-inner-spin-button, input::-webkit-clear-button {
    display: none;
  }
