<div class="row">
  <div class="col-12">
    <div class="pageTitle text-left">
      <h4 class="mb-n1 text-center">Car Stock Information</h4>
    </div>
  </div>

  <div class="col-12 inner-wraper ml-2">
    <form [formGroup]="carStockDeatilsForm" (ngSubmit)="uploadSubmit()">

      <div class="row form-group">
        <div class="col-3 pb-2">
          <label for="carCompany" class="col-form-label">Company</label>
        </div>
        <div class="col-8 pt-1">
          <select class="form-control" formControlName="carCompany" id="carCompany"
                  (change)="getCompanyByClient($event)">
            <option disabled value="" selected>Select One</option>
            <option *ngFor="let com of carCompanyList; let i=index;"
                    [value]="com.id" >{{com.carCompanyName}}</option>
          </select>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-3 pb-2">
          <label for="carModel" class="col-form-label">Model</label>
        </div>
        <div class="col-8 pt-1">
          <select class="form-control" formControlName="carModel" id="carModel"
                  (change)="getModelByCompany($event)">
            <option disabled value="" selected>Select One</option>
            <option *ngFor="let model of carModelList; let i=index;"
                    [value]="model.id" >{{model.carModelName}}</option>
          </select>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-3 pb-2">
          <label for="carGrade" class="col-form-label">Grade</label>
        </div>
        <div class="col-8 pt-1">
          <select class="form-control" formControlName="carGrade" id="carGrade"
                  (change)="getGradeByClient($event)">
            <option disabled value="" selected>Select One</option>
            <option *ngFor="let grade of carGradeList; let i=index;"
                    [value]="grade.id" >{{grade.gradeName}}</option>
          </select>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-3 pb-2">
          <label for="engineNo" class="col-form-label">Engine No</label>
        </div>
        <div class="col-8">
          <input class="form-control" type="number" id="engineNo" formControlName="engineNo">
        </div>
      </div>

     <div class="row form-group">
       <div class="col-3 pb-2">
         <label for="chassisNo" class="col-form-label">Chassis No</label>
       </div>
        <div class="col-8">
          <input class="form-control" type="number" id="chassisNo" formControlName="chassisNo">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-3 pb-2">
          <label for="carStockDetails.client" class="col-form-label">Color</label>
        </div>
        <div class="col-8 pt-1">
          <select class="form-control" formControlName="carStockDetails.client" id="carStockDetails.client"
                  (change)="getClientByCarId($event.target.value)">
            <option disabled value="" selected>Select One</option>
            <option *ngFor="let client of clientList; let i=index;"
                    [value]="client.id" >{{client.clientName}}</option>
          </select>
        </div>
      </div>


      <div class="row form-group">
        <div class="col-3 pb-2">
          <label for="carStockDetails.carType" class="col-form-label">Car Type</label>
        </div>
        <div class="col-8">
          <input class="form-control" type="text" id="carStockDetails.carType" formControlName="carStockDetails.carType">
        </div>
      </div>

      <div class="row form-group">
        <div class="col-3 pb-2">
          <label for="carStockDetails.color" class="col-form-label">Color</label>
        </div>
        <div class="col-8 pt-1">
          <select class="form-control" formControlName="carStockDetails.color" id="carStockDetails.color"
                  (change)="getColorByClient($event.target.value)">
            <option readonly="true" value="" selected>Select One</option>
            <option *ngFor="let clr of colorList; let i=index;"
                    [value]="clr.id" >{{clr.colorName}}</option>
          </select>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-3 pb-2">
          <label for="carStockDetails.price" class="col-form-label">Price</label>
        </div>
        <div class="col-8">
          <input class="form-control" type="number" step=0.01 id="carStockDetails.price" formControlName="carStockDetails.price">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-3 pb-2">
          <label for="carStockDetails.carAuction" class="col-form-label">Car Auction</label>
        </div>
        <div class="col-8">
          <input class="form-control" type="text" id="carStockDetails.carAuction" formControlName="carStockDetails.carAuction">
        </div>
      </div>

      <div class="row form-group">
        <div class="col-3 pb-2">
          <label for="carStockDetails.availableStatus" class="col-form-label">Available</label>
        </div>
        <div class="col-8">
          <input type="checkbox" name="carStockDetails.availableStatus" id="carStockDetails.availableStatus" value="1" checked>
        </div>
      </div>

      <div class="row">
        <div class="mt-2 pr-2 ml-3">
          <input type="reset" class="btn btn-lg btn-danger" value="Reset">
        </div>
        <div class="mt-2">
          <input type="submit" class="btn btn-lg btn-success" value="Save">
        </div>
      </div>
    </form>
  </div>
</div>

