<div class="row">
  <div class="col-12">
    <div class="pageTitle text-left">
      <h4 class="mb-n1 text-center">Car Stock Information</h4>
    </div>
  </div>

  <div class="col-12 inner-wraper ml-2">
    <form [formGroup]="carStockDeatilsForm" (ngSubmit)="uploadSubmit()">

      <div class="row form-group">
        <div class="col-3 pb-2">
          <label for="carCompany" class="col-form-label">Company</label>
        </div>
        <div class="col-8 pt-1">
          <select class="form-control" formControlName="carCompany" id="carCompany"
                  (change)="getCompanyByClient($event)">
            <option disabled value="" selected>Select One</option>
            <option *ngFor="let com of carCompanyList; let i=index;"
                    [value]="com.id">{{com.carCompanyName}}</option>
          </select>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-3 pb-2">
          <label for="carModel" class="col-form-label">Model</label>
        </div>
        <div class="col-8 pt-1">
          <select class="form-control" formControlName="carModel" id="carModel"
                  (change)="getModelByCompany($event)">
            <option disabled value="" selected>Select One</option>
            <option *ngFor="let model of carModelList; let i=index;"
                    [value]="model.id">{{model.carModelName}}</option>
          </select>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-3 pb-2">
          <label for="carGrade" class="col-form-label">Grade</label>
        </div>
        <div class="col-8 pt-1">
          <select class="form-control" formControlName="carGrade" id="carGrade"
                  (change)="getGradeByModel($event)">
            <option disabled value="" selected>Select One</option>
            <option *ngFor="let grade of carGradeList; let i=index;"
                    [value]="grade.id">{{grade.gradeName}}</option>
          </select>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-3 pb-2">
          <label for="engineNo" class="col-form-label">Engine No</label>
        </div>
        <div class="col-8">
          <input class="form-control" type="number" id="engineNo" formControlName="engineNo">
        </div>
      </div>

      <div class="row form-group">
        <div class="col-3 pb-2">
          <label for="chassisNo" class="col-form-label">Chassis No</label>
        </div>
        <div class="col-8">
          <input class="form-control" type="number" id="chassisNo" formControlName="chassisNo">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-3 pb-2">
          <label for="yearOfModel" class="col-form-label">Year Model</label>
        </div>
        <div class="col-8">
          <!--<input type="number" id="yearOfModel" min="1900" max="{{year}}" step="1" value="{{year}}" />-->
          <input id="yearOfModel" formControlName="yearOfModel" placeholder="Select Year" [dpDayPicker]="config"
                 mode="month"/>
        </div>
      </div>

      <div formGroupName="carStockDetails">
        <div class="row form-group">
          <div class="col-3 pb-2">
            <label for="client" class="col-form-label">Client</label>
          </div>
          <div class="col-8 pt-1">
            <select class="form-control" formControlName="client" id="client"
                    (change)="getClientByCarId($event.target.value)">
              <option disabled value="" selected>Select One</option>
              <option *ngFor="let client of clientList; let i=index;"
                      [value]="client.id">{{client.customerName}}</option>
            </select>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-3 pb-2">
            <label for="carType" class="col-form-label">Car Type</label>
          </div>
          <div class="col-8">
            <input class="form-control" type="text" id="carType" formControlName="carType">
          </div>
        </div>

        <div class="row form-group">
          <div class="col-3 pb-2">
            <label for="color" class="col-form-label">Color</label>
          </div>
          <div class="col-8 pt-1">
            <select class="form-control" formControlName="color" id="color"
                    (change)="getColorByCar($event.target.value)">
              <option disabled value="" selected>Select One</option>
              <option *ngFor="let clr of colorList; let i=index;"
                      [value]="clr.id">{{clr.colorName}}</option>
            </select>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-3 pb-2">
            <label for="price" class="col-form-label">Price</label>
          </div>
          <div class="col-8">
            <input class="form-control" type="number" step=0.01 id="price" formControlName="price">
          </div>
        </div>
        <div class="row form-group">
          <div class="col-3 pb-2">
            <label for="carAuction" class="col-form-label">Car Auction</label>
          </div>
          <div class="col-8">
            <input class="form-control" type="text" id="carAuction"
                   formControlName="carAuction">
          </div>
        </div>

        <div class="row form-group">
          <div class="col-3 pb-2">
            <label for="availableStatus" class="col-form-label">Available(if checked then yes)</label>
          </div>
          <div class="col-1">
            <input class="form-control" type="checkbox" class="form-control" name="availableStatus" id="availableStatus"
                   (change)="onChecked($event.target.value)">

          </div>
        </div>
      </div>
      <div class="row">
        <div class="mt-2 pr-2 ml-3">
          <input type="reset" class="btn btn-lg btn-danger" value="Reset">
        </div>
        <div class="mt-2">
          <input type="submit" class="btn btn-lg btn-success" value="Save">
        </div>
      </div>
    </form>
  </div>
</div>

