<div class="main-container col1-layout wow bounceInUp animated">
  <div class="main">
    <div class="col-main">
      <div class="product-view wow bounceInUp animated" itemscope="" itemtype="http://schema.org/Product"
           itemid="#product_base">
        <div id="messages_product_view"></div>
        <div class="product-essential container">
          <div class="row">
            <div class="product-img-box col-lg-5 col-sm-5 col-xs-12">
              <div class="product-image">
                <div class="product-full">
                  <img id="product-zoom" src="{{baseUrl}}/media/{{imageId}}"
                       data-zoom-image="products-images/p46.jpg"
                       alt="product-image"/>
                </div>

                <div class="more-views-items">
                  <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
                                      (init)="slickInit($event)" (breakpoint)="breakpoint($event)">
                    <div ngxSlickItem *ngFor="let image of images; let i=index;" class="slide">
                      <img id="{{image}}" src="{{baseUrl}}/media/{{image}}" alt="car-image"
                           width="100%" (click)="changeImage($event)"/>
                    </div>
                  </ngx-slick-carousel>
                </div>

              </div>
              <div class="toll-free"><a href="tel:8801922034567"><i class="fa fa-phone"></i> +880 192 034 567</a></div>
            </div>

            <div class="product-shop col-lg- col-sm-7 col-xs-12">
              <div class="brand text-success"><h4 class="font-weight-bold">{{carCompanyName}}</h4></div>
              <div class="product-name">
                <h1>{{carBrandName}}</h1>
              </div>

              <div class="price-block">
                <div class="price-box">

                  <p class="special-price"><span class="price-label"> Price </span>
                    <span class="price text-danger"> {{vehicleDetails.price  | currency:'BDT'}} </span>
                  </p>
                </div>
              </div>

              <div class="spec-row" id="summarySpecs">
                <h2>Specifications</h2>
                <table width="100%">
                  <tbody>
                  <tr>
                    <td class="label-spec"> Car Type <span class="coln">:</span></td>
                    <td class="value-spec"> {{vehicleDetails.carType}}</td>
                  </tr>
                  <tr>
                    <td class="label-spec"> Engine No <span class="coln">:</span></td>
                    <td class="value-spec"> {{vehicleDetails.engineNo}}</td>
                  </tr>
                  <tr class="odd">
                    <td class="label-spec"> Chassis No <span class="coln">:</span></td>
                    <td class="value-spec"> {{vehicleDetails.chassisNo}}</td>
                  </tr>
                  <tr class="odd">
                    <td class="label-spec"> Color <span class="coln">:</span></td>
                    <td class="value-spec"> {{vehicleDetails.color}}</td>
                  </tr>
                  <tr>
                    <td class="label-spec"> Year of Model <span class="coln">:</span></td>
                    <td class="value-spec"> {{vehicleDetails.yearOfModel}}</td>
                  </tr>
                  <tr>
                    <td class="label-spec"> Car Auction <span class="coln">:</span></td>
                    <td class="value-spec"> {{vehicleDetails.carAuction}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <ul class="shipping-pro">
                <li>Free Servicing</li>
                <li>Free Monthly Checkup</li>
                <li>Extended Warrenty</li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
