.admin-wrapper {
  background: #ffffff;
  max-width: 1200px;
  margin: 0 auto;
  border-right: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
  box-shadow: -10px 0 5px -4px #dddddd, 10px 0 5px -4px #dddddd;
}
.public-wrapper {
  max-width: 1300px;
  margin: 0 auto;
  background: #ffffff;
  border-right: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
  box-shadow: -10px 0 5px -4px #dddddd, 10px 0 5px -4px #dddddd;
}
