<div class="row">
  <div class="col-2" *ngIf="auth.currentUserValue !=null">
    <nav id="sidebar" class="navbar-collapse bg-info" [ngClass]="{'hidden': homeService.hideSideNav }">
      <ul class="navbar-nav pl-2">
          <a class="nav-link font-weight-bold d-inline-block" routerLink="/">
            <img src="assets/img/Dashboard.png" width="25" height="25" class="align-content-start" alt=""> Dashboard
          </a>
      </ul>
      <ul class="navbar-nav">
        <span class="listHeader pl-1 font-weight-bold" data-toggle="collapse" data-target="#item1">
          <a class="nav-link" routerLink="#" [routerLinkActive]="['active']">
            <img src="assets/img/icon2.svg" width="25" height="25" class="align-content-start" alt=""> Customer Setting</a>
        </span>
        <li class="nav-item collapse" id="item1">
          <a class="nav-link" routerLink="/client/list" [routerLinkActive]="['active']">Customer</a>
        </li>
        <li class="nav-item collapse" id="item1">
          <a class="nav-link" routerLink="/profession/list" [routerLinkActive]="['active']">Profession</a>
        </li>
        <li class="nav-item collapse" id="item1">
          <a class="nav-link" routerLink="/emailDomain/list" [routerLinkActive]="['active']">Email Domain</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <span class="listHeader pl-1 font-weight-bold" data-toggle="collapse" data-target="#item2">
          <a class="nav-link" routerLink="#" [routerLinkActive]="['active']">
            <img src="assets/img/icon3.svg" width="25" height="25" class="align-content-start"  alt=""> Vehicle Setting</a>
        </span>
        <li class="nav-item collapse" id="item2">
          <a class="nav-link" routerLink="/carStockDetails/list" [routerLinkActive]="['active']">Car Stock Info</a>
        </li>
        <li class="nav-item collapse" id="item2">
          <a class="nav-link" routerLink="/carGrade/list" [routerLinkActive]="['active']">Car Grade</a>
        </li>
        <li class="nav-item collapse" id="item2">
          <a class="nav-link" routerLink="/carModel/list" [routerLinkActive]="['active']">Car Brand</a>
        </li>
        <li class="nav-item collapse" id="item2">
          <a class="nav-link" routerLink="/carCompany/list" [routerLinkActive]="['active']">Car Company</a>
        </li>
        <li class="nav-item collapse" id="item2">
          <a class="nav-link" routerLink="/color/list" [routerLinkActive]="['active']">Car Color</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col-10 container-fluid" *ngIf="auth.currentUserValue !=null">
    <router-outlet></router-outlet>
  </div>
</div>



