<div class="row">
  <div class="col-2" >
    <nav id="sidebar" class="navbar-dark bg-dark" [ngClass]="{'hidden': homeService.hideSideNav }">
      <ul class="navbar-nav">
        Profession
        <li class="nav-item">
          <a class="nav-link" routerLink="/profession/save" [routerLinkActive]="['active']">Profession Save</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="profession/list" [routerLinkActive]="['active']">Profession List</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        Profession
        <li class="nav-item">
          <a class="nav-link" routerLink="/profession/save" [routerLinkActive]="['active']">Profession Save</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="profession/list" [routerLinkActive]="['active']">Profession List</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col-10 container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>



