<div>
  <!-- Breadcrumb Section Begin -->
  <section class="breadcrumb-section set-bg-breadcrumb" data-setbg="img/breadcrumb.jpg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="breadcrumb__text">
            <h2>All Vehicles</h2>
            <div class="breadcrumb__option">
              <a routerLink="/">Home</a>
              <span><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;&nbsp; Vehicles</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Breadcrumb Section End -->
</div>
